@font-face {
  font-family: 'kaiuntai';
  src: font-url("kaiuntai.otf");
}
body{
  font-family:"kaiuntai", sans-serif;
}
#container{
  position:relative;
  width:1024px;
  height:1366px;
}
#header{
  position:fixed;
  top:0;
  left:0;
  z-index:5000;
  width:100%;
  height:44px;
  background-color:#9ED4C4;
}
#header > div{
  float:left;
  box-sizing:border-box;
  text-align:center;
}
#header > div img{
  height:calc(44px - 2rem);
  padding:0.5rem 0;
}
.header_left,
.header_right{
  width:44px;
  padding:0.5rem;
}
.header_center{
  width:calc(100% - 88px);
}
#header .header_center img{
  height:calc(44px - 1.75rem);
  padding:0.875rem 0;
}
.header_left p,
.header_right p{
  box-sizing:border-box;
  border:1px solid #3e8e74;
  border-radius:3px;
  box-shadow:0 1px 0 0 rgba(255,255,255,1);
  background: #9ed4c4;
  background: -moz-linear-gradient(top, #9ed4c4 0%, #62bb9e 100%);
  background: -webkit-linear-gradient(top, #9ed4c4 0%,#62bb9e 100%);
  background: linear-gradient(to bottom, #9ed4c4 0%,#62bb9e 100%);
}
#contents{
  padding-top:44px;
}
#index_contents{
  padding-top:44px;
}
#index_contents:before{
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  min-height:100vh;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  background-color:#9ED4C4;
  background-size:auto 100%;
}

.index_menu_list ul{
  float:left;
  width:calc(100% / 3 * 2);
}
.index_menu_list ul li{
  width:calc(100% / 2);
  float:left;

}
.index_menu_list ul li:nth-child(2){
  background: #f4b3c2;
  background: -moz-linear-gradient(top, #f4b3c2 0%, #f4b3c2 60%, #f09bae 100%);
  background: -webkit-linear-gradient(top, #f4b3c2 0%,#f4b3c2 60%,#f09bae 100%);
  background: linear-gradient(to bottom, #f4b3c2 0%,#f4b3c2 60%,#f09bae 100%);
}
.index_menu_list ul li:nth-child(3){
  background: #a0d8ef;
  background: -moz-linear-gradient(top, #a0d8ef 0%, #a0d8ef 60%, #80caea 100%);
  background: -webkit-linear-gradient(top, #a0d8ef 0%,#a0d8ef 60%,#80caea 100%);
  background: linear-gradient(to bottom, #a0d8ef 0%,#a0d8ef 60%,#80caea 100%);
}
.index_menu_list ul li:last-child{
  background: #80aba9;
  background: -moz-linear-gradient(top, #80aba9 0%, #80aba9 60%, #6c9d9b 100%);
  background: -webkit-linear-gradient(top, #80aba9 0%,#80aba9 60%,#6c9d9b 100%);
  background: linear-gradient(to bottom, #80aba9 0%,#80aba9 60%,#6c9d9b 100%);
}
.index_menu_list ul li a{
  display:inline-block;
  box-sizing:border-box;
  width:100%;
  height:11vh;
  padding:2vh 0;
  color:#ffffff;
  text-align:center;
}
.index_menu_list ul li a p{
  margin-top:1vh;
  font-size:2vh;
  line-height:2vh;
}
.index_menu_list ul li a img{
  height:4vh;
}

.index_menu_list div{
  float:left;
  width:calc(100% / 3);
  background: #f8b862;
  background: -moz-linear-gradient(top, #f8b862 0%, #f8b862 60%, #F8AD49 100%);
  background: -webkit-linear-gradient(top, #f8b862 0%,#f8b862 60%,#F8AD49 100%);
  background: linear-gradient(to bottom, #f8b862 0%,#f8b862 60%,#F8AD49 100%);
}
.index_menu_list div a{
  display:inline-block;
  box-sizing:border-box;
  width:100%;
  height:22vh;
  padding:7.5vh 0;
  color:#ffffff;
  text-align:center;
}
.index_menu_list div a p{
  margin-top:1vh;
  font-size:2vh;
  line-height:2vh;
}
.index_menu_list div a img{
  height:4vh;
}

.index_my_profile{
  width:100vw;
  height:50vw;
}
.index_my_profile_left,
.index_my_profile_right{
  box-sizing:border-box;
  float:left;
  width:50vw;
  height:50vw;
}
.index_my_profile_left{
  position:relative;
  background-size:100% auto;
  background-position:bottom center;
  padding:2.5vw;
}
.index_my_profile_left img{
  position:absolute;
  z-index:2;
  width:45vw;
  box-shadow:0px 0px 3vw white;
}
.index_my_profile_left:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:50vw;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, rgba(100,100,100,0.5)), to(rgba(100,100,100,0.5))),
    -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, rgba(100,100,100,0.5)), to(rgba(100,100,100,0.5)));
    -webkit-background-size: 2px 2px;
}
.index_my_profile_right{
  padding:1vw 3vw;
  background-color:#cca6bf;
}
.index_my_profile_right > div:first-child{
  background-image:image-url("frame_bronze.png");
  background-size:cover;
  padding:1.9rem 0 1.7rem;  
}
.index_my_profile_right h2{
  font-size:6vw;
  text-align:center;
  color:#402000;
}
.index_my_profile_right span{
  display:block;
  text-align:center;
  margin-bottom:0.2rem;
  color:#402000;
}
.index_my_profile_right ul li{
  margin-top:0.5rem;
}
.index_my_profile_right ul li a{
  position:relative;
  display:inline-block;
  width:100%;
  color:#ffffff;
}
.index_my_profile_right ul li a:before{
  content:"›";
  position:absolute;
  right:0;
  top:0;
}
.index_my_profile_right ul li a img{
  height:1rem;
  margin-right:0.5em;
  vertical-align:middle;
}

.index_haikus_tab li{
  width:calc(100% / 3);
  text-align:center;
  float:left;
  background-color: #a0d8ef;
  background-color: -moz-linear-gradient(top, #a0d8ef 0%, #a0d8ef 60%, #80caea 100%);
  background-color: -webkit-linear-gradient(top, #a0d8ef 0%,#a0d8ef 60%,#80caea 100%);
  background-color: linear-gradient(to bottom, #a0d8ef 0%,#a0d8ef 60%,#80caea 100%);
}
.index_haikus_tab li:first-child{
  background: -moz-linear-gradient(top, #ec6d71 0%, #ec6d71 60%, #EA5B5F 100%);
  background: -webkit-linear-gradient(top, #ec6d71 0%,#ec6d71 60%,#EA5B5F 100%);
  background: linear-gradient(to bottom, #ec6d71 0%,#ec6d71 60%,#EA5B5F 100%);
}
.index_haikus_tab li:last-child{
  background: #80aba9;
  background: -moz-linear-gradient(top, #80aba9 0%, #80aba9 60%, #6c9d9b 100%);
  background: -webkit-linear-gradient(top, #80aba9 0%,#80aba9 60%,#6c9d9b 100%);
  background: linear-gradient(to bottom, #80aba9 0%,#80aba9 60%,#6c9d9b 100%);
}
.index_haikus_tab li a{
  display:block;
  padding:1em 0;
  color:#ffffff;
}
.index_haikus_list{
  background-color:#EA5B5F;
}
.index_haikus_list{
  padding:5vw 2.5vw;
}
.index_haikus_list li:nth-child(even){
  padding:2.5vw;
  background-color:rgba(255,255,255,0.1);
}
.index_haikus_list li:nth-child(odd){
  padding:2.5vw;
  background-color:rgba(0,0,0,0.1);
}
.index_haiku_photo{
  float:left;
  width:17.5vw;
  height:17.5vw;
}
.index_haiku_photo img{
  width:100%;
  max-width:100%;
  max-height:100%;
}
.index_haiku_main{
  box-sizing:border-box;
  float:left;
  padding-left:2.5vw;
  width:40vw;
}
.index_haiku_main span{
  display:inline-block;
  line-height:1em;
}
.index_haiku_main span:last-child{
  margin-top:2.5vw;
}
.index_haiku_main a{
  color:#ffffff;
  margin-top:5vw;
}
.index_haiku_main img{
  height:1em;
  margin-right:0.5em;
}
.index_haiku_user{
  box-sizing:border-box;
  float:left;
  padding-left:2.5vw;
  width:30vw;
}

.index_random_pickup{
  background:#ffffff;
  padding:1rem 0;
}

.haiku_new{
  padding:2.5%;
}
.haiku_new_post_left{
  float:left;
  width:35%;
}
.haiku_new_post_right{
  float:right;
  width:62.5%;
  margin-left:2.5%;
}
.haiku_new_post_right dl{
  margin-bottom:0.5rem;
}
.haiku_new_post_right dt{
  float:left;
  width:3em;
  padding-top:0.5em;
}
.haiku_new_post_right dd{
  float:right;
  width:calc(100% - 3em);
}
.haiku_new_post_right_description dt{
  float:inherit;
  width:100%;
  margin-bottom:0.5em;
  text-align:center;
  padding-top:0;
}
.haiku_new_post_right_description dd{
  float:inherit;
  width:100%;
}
.haiku_new_post_right_description dd textarea{
  min-height:6em;
}

input[type=text],
input[type=number],
input[type=password],
input[type=submit],
textarea,
.button_all{
  display:block;
  width:100%;
  box-sizing:border-box;
  padding:0.5em 0.25em;
  font-size:16px;
  -webkit-appearance: none;
  border:1px solid #ffffff;
  background-color:rgba(255,255,255,0.5);
  border-radius:5px;
  line-height:1.2em;
  color:inherit;
}
input[type=submit]{
  font-family:"kaiuntai";
}
.button_all{
  text-align:center;
}
.form_submit_settings{
  margin-bottom:1rem;
}
.form_submit_banners{
  margin-bottom:1rem;
  text-align:center;
}
